
@font-face {
  font-family: "Roboto-Regular";
  src: url('fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: "Roboto-Medium";
  src: url('fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: "Vortex";
  src: url('fonts/VortexRising-Regular.otf');
}

:root {
  --text1: #ececec;
  --text2: #b6b6b6;
  --bg1: #131318;
  --bg2: #383838;
  --bg3: #1e1e24;
  --bg4: #444444b6;
  --bg5: #2b2b2b;
  --selected: #2ba4eb;
  --focused: #686868;
}

body {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  background-color: var(--bg2);
  color: var(--text1);
  user-select: none;
  font-family: 'Roboto-Regular';
  font-size: 16px;
}


/* general text input class*/
.textInput {
  outline: none;
  border: none;
  background: var(--bg4);
  color: var(--text1);
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid var(--bg4);
  transition: border-color 100ms;  
}
input[type="text"] {
  font-family: 'Roboto-Regular';
  font-size: 13px;
}

.textInput:hover {
  border-color: var(--selected);
}

.textInput:focus {
  border-color: var(--focused);
}


/* main viewport */
#viewport {
  position: relative;
  width: 300%;
  height: 100%;
  z-index: 2;
  display: flex;
  transition: right 300ms ease;
}


/* where all the magic happens */
#overlay {
  width: calc(100% / 3);
  height: 100%;
  transition: opacity 300ms;
}

/* player stuff */
#playerRegion {
  display: flex;
  height: 150px;
}

.player {
  width: 49%;
  position: relative;
}
#player1 {
  background-image: linear-gradient(to bottom left, #F9D33C50, #00000000, #00000000);
}
#player2 {
  background-image: linear-gradient(to bottom left, #5D67D850, #00000000, #00000000);
}

.pEditor {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
}


.row {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}


.tagText {
  float: left;
  min-width: 34px;
  max-width: 55px;
  width: 34px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.playerText {
  float: left;
  min-width: 60px;
  max-width: 123px;
  width: 60px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.teamName {
  float: left;
  width: 100%;
  display: none;
  margin-right: 5px;
}

.pFinderPosition {
  float: left;
  position: relative;
}
.playerFinder {
  display: none;
  position: absolute;
  top: 100%;
  background-color: var(--bg5);
  filter: drop-shadow(0px 0px 5px var(--bg3));
  z-index: 3;
  font-size: 15px;
  max-height: 215px;
  overflow: auto;
}

.finderEntry {
  display: flex;
  align-items: center;
  height: 35px;
  width: 235px;
  z-index: 30;
  cursor: pointer;
}
.finderEntry:not(:first-child) {
  border-top: 1px solid var(--bg2);
}
.finderEntry:hover {
  background-color: var(--bg2);
}
.finderEntry-active {
  background-color: var(--bg2);
}

.pfTag {
  color: var(--text2);
  font-size: 13px;
  margin-left: 5px;
  z-index: 32;
}
.pfName {
  font-family: "Roboto-Medium";
  margin-right: 5px;
  margin-left: 5px;
  z-index: 32;
}
.pfChar {
  font-style: italic;
  font-size: 13px;
  margin-right: 5px;
  z-index: 32;
}
.pfCharImgBox {
  position: absolute;
  height: 35px;
  width: 235px;
  transform: scaleX(-1);
  overflow: hidden;
  opacity: .8;
}
.pfCharImg {
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: contain;
  height: 40px;
  opacity: .7;
  z-index: 31;
}


.charSelector {
  height: 35px;
  width: 90px;
  outline: none;
  color: var(--text1);
  background: var(--bg4);
  border: 1px solid var(--focused);
  transition: border-color 100ms;
  box-sizing: border-box;
  margin-right: 5px;
}
.charSelector:hover {
  border-color: var(--selected);
  cursor: pointer;
}
.charBox {
  position: absolute;
  height: 33px;
  width: 88px;
  overflow: hidden;
}
.charSelectorImg {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 33px;
  object-fit: contain;
  outline: none;
}
.charSelectorImg:hover {
  filter: brightness(1.5);
}


.charCombo:hover {
  border-color: var(--selected);
}

.charCombo:active {
  background-color: var(--bg2);
}

#p1Char, #p2Char {
  float: left;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}


#p1Char:hover, #p2Char:hover {
  transform: scale(1); /* cheap trick to show a correct border */
}

.theEntry {
  background-color: var(--bg2);
}
.playerCustom {
  background-color: var(--bg5);
}


.scoreBox {
  background-color: var(--bg4);
  height: 30px;
  width: 113px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid var(--bg4);
  transition: border-color 100ms;
  display: flex;
  align-items: center;
  color: var(--text2);
  float: left;
  font-family: 'Roboto-Medium';
}
.scoreBox:hover {
  border-color: var(--selected);
}

.scoreCheck {
  margin-left: 5px;
  width: 14px;
  height: 14px;
  outline: none;
}

.wlButtons {
  display: none;
  font-size: 13px;
  font-family: 'Roboto-Medium';
  padding-left: 5px;
}

.wlBox {
  background-color: var(--bg4);
  height: 30px;
  width: 30px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid var(--bg4);
  transition: border-color 100ms;
  float: left;
  color: var(--text2);
  display: flex;
  align-items: center;

}
.wlBox:hover {
  border-color: var(--selected);
}

#p1W, #p2W {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#p1W:hover, #p2W:hover {
  transform: scale(1);
}
#p1L, #p2L {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-sizing: border-box;
  padding-left: 7px;
}

/* elements that will show up when changing gamemode */
#row4-1, #row4-2, #charSelectorP3, #charSelectorP4, #pInfo3, #pInfo4 {
  display: none;
}


#playerSep {
  width: 2%;
  height: 100%;
}

#swapButton {
  width: 100%;
  height: 85%;
  background-color: var(--bg4);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
#swapButton:hover {
  filter: brightness(1.3);
}
#clearButton {
  width: 100%;
  height: 15%;
  background-color: var(--bg4);
  cursor: pointer;
}
#clearButton:hover {
  filter: brightness(1.3);
}

.midIcon {
  height: 12px;
  width: 12px;
  fill: #b6b6b6;
  opacity: 0;
  transform: scale(1.5, 1.5);
  transition: opacity 200ms, transform 200ms;
}
#swapButton:hover #swapIcon {
  opacity: 1;
  transform: scale(2, 2);
}
#clearButton:hover #clearIcon {
  opacity: 1;
  transform: scale(2, 2);
}


.charImgBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.charImg {
  height: 100%;
  object-fit: contain;
  z-index: -1;
  box-sizing: border-box;
  float: right;
}


/* round propierties */
#roundInfo {
  height: 40px;
  border-top: thin;
  border-bottom: thin;
  border-style: solid none solid;
  border-color: var(--bg4);
  display: flex;
  align-items: center;
  padding-left: 0px;
  padding-right: 10px;
}

#bestOf {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bestOfBox {
  background-color: var(--bg4);
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid var(--focused);
  transition: border-color 100ms;
  float: left;
}

.bestOfBox:hover {
  border-color: var(--selected);
  transform: scale(1); /* cheap trick to show a correct border */
  cursor: pointer;
}

#bo3Div {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#bo5Div {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: -1px;
}


#roundName, #tournamentName {
  width: 100%;
  text-align: center;
  margin-right: 4px;
}


#gamemode {
  background-color: var(--bg4);
  height: 30px;
  width: 140px;
  margin-left: 6px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid var(--focused);
  transition: border-color 100ms;
  float: left;
}
#gamemode:hover {
  border-color: var(--selected);
  cursor: pointer;
}
#gamemode:active {
  background-color: #2b2b2b;
}

.gmIcon {
  height: 23px;
  width: 20px;
  fill: #b6b6b6;
  position: absolute;
  top: 3px;
}
#gmIconBox {
  position: absolute;
}
#gmIcon1 {
  left: 4px;
}
#gmIcon2 {
  left: 17px;
}
#gmIcon3 {
  opacity: 0;
}



/* caster region */
#casterInfo {
  height: 60px;
  padding: 10px;
  padding: 8px 10px 12px 10px;
}

.casterIcon {
  height: 20px;
  width: 20px;
  margin-left: -5px;
  margin-top: 5px;
  fill: #b6b6b6;
}

#twitterIcon {
  margin-right: 4px;
  margin-left: 5px;
}
#twitchIcon {
  margin-right: 4px;
  margin-left: 5px;
}

#caster1 {
  padding-bottom: 4px;
  display: flex;
  justify-items: center;
}
#caster2 {
  display: flex;
  justify-items: center;
}

#cName1, #cName2 {
  width: 190px;
  margin-left: 4px;
}

#cTwitter1, #cTwitter2, #cTwitch1, #cTwitch2 {
  width: 156px;
  margin-left: 1px;
}

/* the bottom bar */
#botBar {
  width: 100%;
  height: 28px;
  display: flex;
  background-color: var(--bg5);
  cursor: pointer;
}

.botRegion {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botText {
  color: var(--text1);
  font-family: 'Roboto-Medium';
}

.rectangle {
  height: 2px;
  width: 100%;
  margin: 10px;
  background-color: var(--text2);
}

#updateRegion:hover {
  background-color: var(--bg3);
}

#updateRegion:active{
  background-color: var(--bg5);
}

#settingsRegion {
  width: 32px;
  background-color: var(--bg3)
}

#configIcon {
  width: 20px;
  height: 20px;
}

#configIcon path {
  fill: var(--text2);
}

#settingsRegion:hover {
  background-color: var(--bg1);
}

#settingsRegion:active{
  background-color: var(--bg5);
}


/* bracket section */
#bracket {
  width: calc(100% / 3);
  height: 200px;
}


/* settings section */
#settings {
  width: calc(100% / 3);
  z-index: 2;
  display: flex;
}

#normalSettings {
  width: 40%;
  background-color: var(--bg5);
}

#settingsTitle {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto-Medium";
  border-bottom-style: solid;
  border-color: var(--bg4);
}

#actualSettings {
  padding-top: 5px;
}

.settingBox {
  padding: 2px 0px 2px 10px;
  display: flex;
  outline: none;
}
.settingBox:hover {
  background-color: var(--bg2);
}

.settingsCheck {
  outline: none;
}

.settingsText {
  width: 100%;
}

#copyMatch {
  width: 92%;
  margin: 10px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Roboto-Medium";
}


/* clickable area that gets enabled when moving the viewport */
#goBack {
  position: absolute;
  width: calc(100% / 3);
  height: 300px;
  left: calc(100% / 3);
  z-index: 100;
  display: none;
}


#charRoster {
  position: absolute;
  width: calc(100% / 3);
  height: 300px;
  left: calc(100% / 3);
  z-index: 101;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2b2b2bec;
  opacity: 0;
  transform: scale(1.2);
  transition: opacity 200ms, transform 200ms;
  object-fit: contain;
}
.rosterLine {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rosterEntry {
  width: 85px;
  height: 120px;
  transition: transform 100ms;
  box-sizing: border-box;
}
.rosterEntry:hover {
  filter: brightness(1.3);
  cursor: pointer;
  transform: scale(1.3);
}

.charRosterImg {
  height: 85px;
  object-fit: contain;
  transform: scale(1.15)
}

.textRoster {
  text-align: center;
  font-family: "Vortex";
  font-size: 20px;
}


/* Recolor stuff */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#goToRecolor {
  padding: 2px 5px;
  font-size: 15px;
  font-family: "Roboto-Medium";
  text-transform: uppercase;
  background: none;
  border: solid 2px var(--focused);
  border-radius: 5px;
  color: var(--text2);
  transform: translateY(125px);
  outline: none;
}
#goToRecolor:hover {
  filter: brightness(1.4);
}

#recolorSettings {
  display: none;
}

#recolorSettings {
  padding: 10px;
  box-sizing: border-box;
}

#hsvButts {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hsvButt {
  outline: none;
  height: 25px;
  color: var(--text1);
  background: var(--bg5);
  border: 1px solid var(--focused);
  transition: border-color 100ms;
  padding: 0px 5px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Roboto-Medium";
}
.hsvButt:hover {
  border-color: var(--selected);
  transform: scale(1);
}
#hueButt {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  background: var(--bg2);
}
#satButt {
  border-radius: 0px;
  margin-left: -1px;
}
#valButt {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  margin-left: -1px;
}



.fillerSquare {
  width: 24px;
  height: 1px;
  float: left;
}


.sliDiv {
  padding-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.slider {
  width: 67%;
  float: right;
  -webkit-appearance: none;
  height: 7px;
  margin: 0;
  outline: none;
  overflow: visible;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  border: 2.5px solid var(--bg);
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 20px;
  border-radius: 5px;
  background: lightgray;
  cursor: pointer;
}
.slider:disabled {
  opacity: .35;
  cursor: default;
}

.sliderH {
  background: linear-gradient(to right, red, #ff0, lime, cyan, blue, #f0f, red);
}

.sliderS, .sliderV {
  display: none;
}

#recButts {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.recButt {
  margin: 0px 2px;
  font-size: 15px;
  font-family: "Roboto-Medium";
  background: none;
  border: solid 2px var(--text2);
  border-radius: 5px;
  color: var(--text1);
  outline: none;
}
.recButt:hover {
  filter: brightness(1.4);
}


#recolorRight {
  width: 60%;
  height: 100%;
}


#topBarRecolor {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto-Medium";
  border-left-style: solid;
  border-color: var(--bg4);
  background-color: var(--bg5);
}

#recList {
  outline: none;
  height: 25px;
  color: var(--text1);
  background: var(--bg4);
  border: 1px solid var(--focused);
  transition: border-color 100ms;
  /* -webkit-appearance: none; */
  padding: 0px 5px;
  box-sizing: border-box;
  border-radius: 5px;
}
#recList:hover {
  border-color: var(--selected);
}
#recList:active {
  background-color: var(--bg2);
}


#canContainer {
  width: 100%;
  height: 257px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-style: solid;
  border-left-style: solid;
  border-color: var(--bg4);
  box-sizing: border-box;
}
#recolorImg {
  max-width: 100%;
  max-height: 257px;
}
